.heading-first-letter{
    font-size: 4.5rem;
}

@media screen and (max-width: 900px) {
    /* responsive font size for the span letters in homepage */
    .heading-first-letter{
        font-size: 3.5rem;
    }
    /* for home page plant image */
    .image{
        max-width: 40vw !important;
        transform: translateY(-5%) !important;
    }
}
@media screen and (max-width: 600px) {
    /* responsive font size for the span letters in homepage */
    .heading-first-letter{
        font-size: 2.5rem;
    }
    /* remove plant image for mobile devices */
    .image{
        display: none !important;
    }
}
    
.image {
    transform: translateY(-10%);
    max-width: 30vw;
    z-index: 2;
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
}

.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  